@charset "utf-8";

html, body{
	margin:0px auto;
    height: 100%;
    margin: 0px;
    padding: 0px
}

#container{
	min-height:100%;
	min-width:100%;
}

#panel,#map-canvas{
	position:relative;
	float:left;
}

#panel{
	height:350px;
	width:350px;
	border-radius:25 px;
	border:1px solid;
}

#map-canvas{
	height:650px;
	width:900px;
	border-radius:15px;
	border:1px solid;
}
